body {
  background-color: #222;
  color: #fff;
}
a,
td,
th {
  color: #fff;
}

.app-register {
  margin-top: 2rem;
}
.titleGame {
  text-align: center;
  font-size: 60px;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.status {
  font-size: 10rem;
}

.box-game {
  margin-top: 2rem;
}
.box-game p {
  text-align: center;
}
.fa-smile-beam {
  animation: balance 1s ease-in-out infinite both;
}

@keyframes balance {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}
.fa-sad-tear {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.box-word {
  font-size: 60px;
  text-align: center;
  border: 1px solid tomato;
  border-radius: 6px;
  margin-bottom: 1rem;
  word-break: break-all;
}
#inLetter {
  font-size: 30px;
  text-transform: uppercase;
}

.fa-laugh-beam {
  position: relative;
  animation: jump 1s cubic-bezier(0.7, 0.3, 0.93, 0.67) infinite;
}

@keyframes jump {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}
.nav-link {
  color: #fff !important;
}

.keyboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.keyboard p {
  font-size: 30px;
  padding: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}
@media (max-width: 400px) {
  .status {
    font-size: 5rem;
  }
  .app-register {
    margin-top: 10px;
  }
  .box-word {
    margin-top: 1rem;
  }
}
